
<!DOCTYPE html>
<html>
  <head>
          {% load staticfiles %}
            <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
          <script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>


    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
     <script src="http://code.highcharts.com/highcharts.js"></script> -->


      <!-- load_charts filter takes a comma-separated list of id's where -->
      <!-- the charts need to be rendered to                             -->
      {% load chartit %}
      {{ weatherchart|load_charts:"container" }}
  </head>
  <body>
      <div id='container'> Chart will be rendered here </div>
  </body>

</html>
